:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  --Red: hsl(0, 87%, 67%);

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  height: 100vh;
}

#root {
  width: 100%;
}

.main > * {
  padding: 0px 8rem;
}

/* navbar, links and buttons */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8rem;
}

.nav-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: var(--Grayish-Violet);
}

a:hover, .login:hover {
  color: var(--Very-Dark-Blue);
}

button {
  background-color: var(--Cyan);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  filter: opacity(70%);
}

.login {
  background-color: transparent;
  color: var(--Grayish-Violet);
  margin-right: 10px;
}

/* top page */

.top-page {
  display: flex;
  margin: 3rem 0px 10rem;
}

.main-title {
  font-size: 5.6vw;
  color: var(--Very-Dark-Blue)
}

.main-p {
  font-size: 1.5vw;
  margin-bottom: 50px;
  color: var(--Grayish-Violet)
}

.get-started {
  font-size: 1.6rem;
  padding: 16px 38px;
  border-radius: 35px;
}

.working-img {
  position: absolute;
  right: -5vw;
  height: 450px;
  z-index: 0;
}

/* input field */
.middle {
  background-color: hsl(260, 15%, 92%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 200px;
}

.input-field {
  position: relative;
  top: -4vw;
  padding: 2vw 3vw;
  background-color: var(--Dark-Violet);
  background-image: url("../images/bg-shorten-desktop.svg");
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-input {
  width: 70%;
  padding: 12px 22px;
  margin-right: 20px;
  border-radius: 10px;
  outline: none;
  font-size: 1.5rem;
}

.shorten-link {
  width: 20%;
  padding: 18px;
  border-radius: 10px;
  font-size: 1.1rem;
}

/* info part */ 

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

.info  *{
    color: var(--Very-Dark-Violet);
}

.info-title-div{
    text-align: center;
}

.info-title{
    font-size: 2.5rem;
}

.info-p{
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--Grayish-Violet)
}

.info-blocks{
    display: flex;
    gap: 30px;
}

.info-blocks > div{
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 25px;
    z-index: 1;
    font-size: 1.2rem;
}

.info-blocks h3, .info-blocks p{
    position: relative;
    top: -30px;
}

.info-blocks h3{
    font-size: 1.5rem;
}

.info-blocks p{
    margin-top: 10px;
    font-size: 1.16rem;
    color: var(--Grayish-Violet)
}

.icon-circle{
    position: relative;
    top: -65px;
    width:80px;
    height: 80px;
    display: grid;
    border-radius: 50%;
    place-items: center;
    background-color: var(--Dark-Violet);
}

.block-two{
    position: relative;
    top: 40px;
}

.block-three{
    position: relative;
    top: 80px;
}

.seperating-line{
    position: relative;
    height: 10px;
    width: 750px;
    background-color: var(--Cyan);
    z-index: 0;
    top: 230px;
}

/* prefooter */

.prefooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: var(--Dark-Violet);
    background-image: url('../images/bg-boost-desktop.svg');
}

.prefooter h3{
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 25px;
}

/* Footer*/

.footer{
    background-color: var(--Very-Dark-Violet);
    padding: 70px 150px 100px;
    height: 310px;
    display: flex;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    width: 38%;
    justify-content: space-between;
}

.footer-links > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links h4{
    color: #fff;
    margin-bottom: 10px;
}

.footer-links a:hover{
    color: var(--Cyan)
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 18%;
}

.social-links path:hover{
    fill : var(--Cyan)
}

@media (max-width: 1150px) {
  .main > *{
    padding: 0px 5rem;
  }  

  .nav-bar{
    padding: 3rem 5rem;
  }

  .nav-left {
    width: 60%;
  }

  .working-img {
    height: 320px;
    right: -10vw;
  }

  .get-started {
    font-size: 1rem;
  }

  .top-title{
    margin-bottom: 0px;
  }

  .footer{
    padding: 50px 70px;
  }
  .footer-links{
    width: 50%;
  }
  .footer-links > div{
    justify-content:flex-start;
  }

  .footer-links a{
    margin-bottom: 10px;
  }

}
